/* Media queries Breakpoint mixins */

@mixin for-mobile-layout {
  @media (max-width: $break-mobile) {
    @content;
    .toy-filter {
      align-items: center;
      justify-content: center;
      width: 100vw;

      & input {
        width: 100vw;
      }
    }

    .add-toy {
      margin: rem(10px) auto;
    }
  }
}

@mixin for-narrow-layout {
  @media (min-width: $break-narrow) {
    @content;
  }
}

@mixin for-normal-layout {
  @media (min-width: $break-normal) {
    @content;
  }
}

@mixin for-wide-layout {
  @media (min-width: $break-wide) {
    @content;
  }
}

@mixin layoutGTC($max) {
  grid-template-columns:
    minmax($layoutPadding, 1fr)
    minmax(auto, $max)
    minmax($layoutPadding, 1fr);
}
