.card {
  //   height: rem(200px);
  //   width: rem(120px);
  //   width: 17em;
  //   height: 15em;
  background: $clr2bg-light;
  transition: 1s ease-in-out;
  clip-path: polygon(
    30px 0%,
    100% 0,
    100% calc(100% - 30px),
    calc(100%) 100%,
    0 100%,
    0% 30px
  );
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
  position: relative;

  > * {
    &.btn {
      position: absolute;
      top: 0;
      right: 0;
    }

    &.link-container {
      > * {
        &.btn {
          border-radius: 1rem;
          margin-block-end: rem(10px);
          width: rem(100px);
        }
      }
    }
  }
}
